<div id="chats">
  <% comments.each do |comment|%>
    <%if comment.user_id==current_user.id%>
      <div class="mycomment">
        <p><%= comment.text %></p>
      </div>
      <p>
        <% if comment.user == current_user %>
          <%= link_to "削除", sell_item_comment_path(comment.sell_item, comment), method: :delete, remote: true %>
        <% end %>
      </p>
    <%else%>
      <div class="fukidasi">
        <div class="faceicon">
          <%= attachment_image_tag comment.user, :icon_image, :fill, 100, 100, format: 'jpeg' %>
        </div>
        <div class="chatting">
          <div class="says">
            <div class ="font-weight-bold d-flex">
              <%= comment.user.nickname %>
            </div>
            <p><%= comment.text %></p>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
</div>
