<% if flash[:error] %>
  <div class='alert-danger' >
   <%= flash[:error]  %>
  </div>
<% end %>

 <h2>
  <strong>
  <%= @another_entry.user.nickname%>さんとのチャット
  </strong>
</h2>

<table class="table">
    <thead>
        <tr>
            <th> 送信者 </th>
            <th>メッセージ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @room.messages.each do |message| %>
         <tr>
             <td>
                 <%= link_to user_path(message.user) do %>
                 <%= message.user.nickname %>
                 <% end %>
             </td>
             <td>
                 <%= message.body %>
             </td>
             <td>
                 <% if message.user == current_user %>
                     <%= link_to "削除" ,message_path(message),method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-sm btn-danger' %>
                 <% end %>
             </td>
         </tr>
        <% end %>
    </tbody>
</table>

<div class="row">
   <div class="col-md-3">
        <%= form_with model: @message, url: messages_path, local: true do |f| %>
        <div class="form-group">
            <%= f.text_field :body , class: 'form-control'%>
        </div>
        <div class="form-group">
            <%= f.hidden_field :room_id , value: @room.id %>
        </div>
        <div class="form-group">
            <%= f.submit "送信", class: 'btn btn-info btn-block' %>
        </div>
        <% end %>

   </div>

</div>
