<div class="container">
 <h3>アイテム制限</h3>
  <div class="row">

    <div class="col col-md-6">
      <table class="table table-hover table-inverse">
        <tbody>
          <% @category_managements.each do |category_management| %>
            <tr>
              <td><%= category_management.category.name %></td>
              <td><%= category_management.limit %></td>
              <td><%= link_to "編集", edit_category_management_path(category_management), class:"btn btn-success" %></td>
              <td><%= link_to "削除", category_management_path(category_management),method: :delete, class:"btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col col-md-5">
      <table  class="table table-borderless">
        <%= form_with model: @category_management,url: category_managements_path, local:true do |f| %>
          <tbody>
            <tr><td><%= f.collection_select :category_id, Category.all, :id, :name,{:prompt => true}, {:class => "form-control"} %></td></tr>
            <tr><td><%= f.select :limit, options_for_select((1..20).to_a), {:prompt => true}, {:class => "form-control"} %></td></tr>
            <tr><td><%= f.submit "limit", class:"btn btn-outline-secondary" %></td></tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>