<div class="container">
  <div class="row justify-content-center pt-5">
    <h4 class="text-center">
      <span class ="order-new-title border-bottom pb-1">
         注文情報入力
      </span>
    </h4>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="col-lg-5 col-md-10 col-sm-10 text-center">
      <%= attachment_image_tag @sell_item.item, :item_image, :fill, 450, 450, format: 'jpeg' %>
    </div>
    <div class="col-lg-5 col-md-10 col-sm-10">
      <%= form_with model: @sell_item, url: sell_items_order_confirm_path, method: 'get', local: true do |f| %>
        <div class="col-lg-6 col-md-10 col-sm-10 zoomInText">
        </div>
        <table class="table table-hover table-inverse">
          <tbody>
            <tr><td>アイテム名</td><td><%= @sell_item.name%></td></tr>
            <tr><td>価格</td><td><%= @sell_item.order_price.to_i %>円</td></tr>
            <tr><td>お届け先</td><td>〒<%= current_user.postal_code %><br><%= current_user.address %></td></tr>
            <tr><td>支払い方法</td>
              <td>
                <div>
                  <%= f.radio_button :payment_method, :credit_card %>
                  <%= f.label 'クレジットカード' %>
                </div>
                <div>
                  <%= f.radio_button :payment_method, :bank_transfer %>
                  <%= f.label '銀行振り込み' %>
                </div>
              </td>
            </tr>
            <%= f.hidden_field :order_status, :value => :wait_shipping %>

          </tbody>
        </table>
        <div class="sell_item_btn_box">
          <div class="user-show-btn-box order-confirm-btn">
            <%= f.submit "確認へ", class:"btn btn-purchase w-100" %></td>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>