<div class="product-title">
  <h2 class ="mb-5">商品詳細</h2>
</div>
<div class="container pb-5">
  <div class="row mt-5">
    <div class="col-lg-6 col-md-10 col-sm-10 zoomInText">
      <%= attachment_image_tag @sell_item, :sell_item_image, :fill, 550, 400, format: 'jpeg' %>
    </div>

    <div class="col-lg-6 col-md-10 col-sm-10 pr-4 pl-4">
      <table class="table table-hover table-inverse">
        <tbody>
          <tr><td>アイテム名</td><td><%= @sell_item.name%></td></tr>
          <tr><td>価格</td><td><%= @sell_item.order_price %></td></tr>
          <tr><td>アイテム説明</td><td><%= @sell_item.introduction %></td></tr>
          <tr><td>カテゴリー</td><td><%= @sell_item.item.category.name%></td></tr>
          <tr><td>カラー</td><td><%= @sell_item.item.color.name%></td></tr>
          <tr><td>ブランド</td><td><%= @sell_item.item.brand.name %></td></tr>
          <tr><td>購入時価格</td><td><%= @sell_item.item.price %>円</td></tr>
          <tr><td>購入日</td><td><%= @sell_item.item.purchase_date.strftime("%Y年 %m月 %d日") %></td></tr>
          <tr><td>サイズ</td><td><%= @sell_item.item.size %></td></tr>
          <tr><td>配送料の負担</td><td><%= @sell_item.delivery_charged_i18n %></td></tr>
          <tr><td>配送の方法</td><td><%= @sell_item.delivery_way_i18n %></td></tr>
          <tr><td>発送までの日数</td><td><%= @sell_item.delivery_days_i18n %></td></tr>
          <tr>
            <td><%= link_to '編集', edit_sell_item_path(@sell_item.id), class: "btn btn-success" %></td>
            <td><%= link_to '削除', sell_item_path(@sell_item.id), method: :delete, class: "btn btn-danger" %></td>
            <td><%= link_to '購入', order_new_sell_item_path(@sell_item), class:"btn btn-secondary" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
