<div class="product-title">
  <h2 class ="mb-5">商品詳細</h2>
</div>
<div class="container pb-5">
  <div class="row mt-5">
    <div class="col-lg-6 col-md-10 col-sm-10 zoomInText">
      <%= attachment_image_tag @sell_item.item, :item_image, :fill, 550, 400, format: 'jpeg' %>
      <p>いいね件数: <%= @sell_item.likes.count %>　コメント件数：<%= @sell_item.comments.count %></p>
       <% if current_user.already_liked?(@sell_item) %>
        <%= link_to sell_item_like_path(@sell_item), method: :delete do %>
          <i class="fas fa-heart"><%= @sell_item.likes.count %></i>
        <% end %>
      <% else %>
        <%= link_to sell_item_likes_path(@sell_item), method: :post do %>
          <i class="far fa-heart"><%= @sell_item.likes.count %></i>
        <% end %>
      <% end %>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr><td>アイテム名</td><td><%= @sell_item.name%></td></tr>
          <tr><td>価格</td><td><%= @sell_item.order_price %></td></tr>
          <tr><td>アイテム説明</td><td><%= @sell_item.introduction %></td></tr>
          <tr><td>カテゴリー</td><td><%= @sell_item.item.category.name%></td></tr>
          <tr><td>カラー</td><td><%= @sell_item.item.color.name%></td></tr>
          <tr><td>ブランド</td><td><%= @sell_item.item.brand.name %></td></tr>
          <tr><td>購入時価格</td><td><%= @sell_item.item.price %>円</td></tr>
          <tr><td>購入日</td><td><%= @sell_item.item.purchase_date.strftime("%Y年 %m月 %d日") %></td></tr>
          <tr><td>サイズ</td><td><%= @sell_item.item.size %></td></tr>
          <tr><td>配送料の負担</td><td><%= @sell_item.delivery_charged_i18n %></td></tr>
          <tr><td>配送の方法</td><td><%= @sell_item.delivery_way_i18n %></td></tr>
          <tr><td>発送までの日数</td><td><%= @sell_item.delivery_days_i18n %></td></tr>
          <tr><td><%= @sell_item.order_status_i18n %></td></tr>
          
        </tbody>
      </table>
      <div class="btn_box">
        <%= link_to '編集', edit_sell_item_path(@sell_item.id), class: "btn btn-success" if @sell_item.seller_id == current_user.id %>
        <%= link_to '削除', sell_item_path(@sell_item.id), method: :delete, class: "btn btn-danger" if @sell_item.seller_id == current_user.id %>
        <%= link_to '購入', sell_items_order_new_path(@sell_item), class:"btn btn-secondary" unless @sell_item.seller_id == current_user.id %>
        <%# if @sell_item.order_status == "wait_shipping" && @sell_item.seller_id == current_user.id %>
          <%= link_to '発送', order_status_update_path(@sell_item, order_status: "shipped"), class:"btn" ,data: {confirm: "発送しますか？"}  %>
        <%# end %>
        <%# if @sell_item.order_status == "shipped" && @sell_item.buyer_id == current_user.id %>
          <%= link_to '受け取り完了', sell_items_order_rate_path(@sell_item), class:"btn btn-success" %>
        <%# end %>
      </div>
      <div class="comment_box border">
        <% @sell_item.comments.each do |comment| %>
          <p><%= attachment_image_tag comment.user, :icon_image, :fill, 100, 100, format: 'jpeg' %></p>
          <p><%= comment.user.nickname %></p>
          <p><%= comment.created_at.strftime('%Y/%m/%d') %></p>
          <p><%= comment.text %></p>
          <% if comment.user == current_user %>
            <div>
              <%= link_to "削除", sell_item_comment_path(comment.sell_item.id, comment), method: :delete %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div>
      <%= form_with(model:[@sell_item, @comment], local: true) do |f| %>
        <%= f.text_area :text, placeholder: "コメント入力",class:"form-control"  %>
        <%= f.submit "送信する", class:"btn btn-secondary"%>
      <% end %>
      </div>
    </div>
  </div>
</div>


<div id="star-rate-<%= @sell_item.id %>"></div>
<script>
  // 繰り返し処理でもidをidを一意にできるようにnote_idを入れる
$('#star-rate-<%= @sell_item.id %>').raty({
  size: 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  half: true,
  // 読み込みだけで入力できない
  readOnly: true,
  score: <%= @sell_item.rate %>,
 });
</script>