<div class="container pb-5">
  <div class="row mt-5 justify-content-center">
    <div class="col-lg-5 col-md-10 col-sm-10 text-center">
      <%= attachment_image_tag @sell_item.item, :item_image, :fill, 450, 450, format: 'jpeg' %>
      <div class="comment_like d-flex">
        <p>
          コメント：<%= @sell_item.comments.count %>件
          ｜
          お気に入り：
        </p>
        <div id="likes_buttons_<%= @sell_item.id %>">
          <%= render 'public/likes/like', sell_item: @sell_item %>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-10 col-sm-10">
      <div class="sell_item_box">
        <div class="sell_item_name_brand border-bottom">
          <p class="sell_item_name"><%= @sell_item.name%></p>
          <p class="sell_item_brand"><%= @sell_item.item.brand.name %></p>
        </div>
        <div class="sell_item_price_box d-flex">
          <p class="mr-5 align-items-center">価格</p>
          <p><span class="sell_item_price"><%= @sell_item.order_price %></span> yen -</p>
        </div>
        <div class="sell_item_btn_box">
          <div class="user-show-btn-box">
            <%= link_to '編集', edit_sell_item_path(@sell_item.id), class: "btn btn-success" if @sell_item.seller_id == current_user.id && @sell_item.order_status == "on_sell" %>
            <%= link_to '削除', sell_item_path(@sell_item.id), method: :delete, class: "btn btn-danger" if @sell_item.seller_id == current_user.id  && @sell_item.order_status == "on_sell" %>
            <%= link_to '購入', sell_items_order_new_path(@sell_item), class:"btn btn-purchase w-100" if @sell_item.order_status == "on_sell" && @sell_item.seller_id != current_user.id %>
            <% if @sell_item.order_status != "on_sell" %>
              <div class="btn is-primary is-disable">
                <span>SOLD OUT</span>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-10 col-sm-12">
      <div class="sell_item_content py-5">
        <p>商品説明</p>
        <p>
          <%= @sell_item.introduction %>
        </p>
      </div>
      <table class="table table-hover border sell_item_table">
        <tbody>
          <tr>
            <th>出品者</th>
            <td>
              <%= link_to user_path(@sell_item.seller_id) do %>
                <%= @sell_item.seller.nickname %>
              <% end %>
            </td>
          </tr>
          <% unless @sell_item.order_status == "on_sell" %>
            <tr>
              <th>購入者</th>
              <td>
                <%= link_to user_path(@sell_item.buyer_id) do %>
                  <%= @sell_item.buyer.nickname %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr><th>カテゴリー</th><td><%= @sell_item.item.category.name%></td></tr>
          <tr><th>カラー</th><td><%= @sell_item.item.color.name%></td></tr>
          <tr><th>ブランド</th><td><%= @sell_item.item.brand.name %></td></tr>
          <tr><th>購入時価格</th><td><%= @sell_item.item.price %>円</td></tr>
          <tr><th>購入日</th><td><%= @sell_item.item.purchase_date.strftime("%Y年 %m月 %d日") %></td></tr>
          <tr><th>サイズ</th><td><%= @sell_item.item.size %></td></tr>
          <tr><th>配送料の負担</th><td><%= @sell_item.delivery_charged_i18n %></td></tr>
          <tr><th>配送の方法</th><td><%= @sell_item.delivery_way_i18n %></td></tr>
          <tr><th>発送までの日数</th><td><%= @sell_item.delivery_days_i18n %></td></tr>
          <tr>
            <th>販売状況</th>
            <td>
              <%= @sell_item.order_status_i18n %>
              <% if @sell_item.order_status == "payment_waiting" && @sell_item.buyer_id == current_user.id %>
                入金してください。
              <% end %>
            </td>
          </tr>

        </tbody>
      </table>
      <div class="btn_box">
        <% if @sell_item.order_status == "wait_shipping" && @sell_item.seller_id == current_user.id %>
          <%= link_to '発送', order_status_update_path(@sell_item, order_status: "shipped"), method: :patch, class:"btn btn-secondary mb-3" ,data: {confirm: "発送しましたか？"}  %>
        <% end %>
        <% if @sell_item.order_status == "shipped" && @sell_item.buyer_id == current_user.id %>
          <%= link_to '受け取り完了', sell_items_order_rate_path(@sell_item), class:"btn btn-success" %>
        <% end %>

      </div>

      <div class="comments_index border">
        <div id='comments_area'>
          <%= render partial: 'public/comments/index', locals: { comments: @comments, sell_item: @sell_item } %>
        </div>
      </div>
      <% if user_signed_in? %>
        <%= render partial: 'public/comments/form', locals: { comment: @comment, sell_item: @sell_item } %>
      <% end %>
    </div>
  </div>
</div>