<div class="container-fluid disposal">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12 p-0">
      <div class="top-box">
        <div class="top-text text-center text-center">
          <p class="m-0">Disposed Chart</p>
          <p class="m-0">処分傾向</p>
        </div>
        <div class="top-image"></div>
      </div>
    </div>
  </div>

  <div class="sub-title text-center my-5">
    <p>All Items</p>
  </div>
  <div class="row">
    <div class="col-4 pie_chart">
      <%= high_chart("colors", @chartkick_items) %>
    </div>
    <div class="col-4">
      <%= high_chart("brands", @chartkick_brands_items) %>
    </div>
    <div class="col-4">
      <%= high_chart("price", @chartkick_items_by_price) %>
    </div>
  </div>
  <% @category_index.each do |category| %>
    <div class="sub-title text-center py-5">
      <p><%= category.name %></p>
    </div>
    <div class="row">
      <div class="col-4">
        <%= high_chart("#{category.id}-color", @chartkick_category_items[category.id]) %>
      </div>
      <div class="col-4">
        <%= high_chart("#{category.id}-branch", @chartkick_brand_items[category.id]) %>
      </div>
      <div class="col-4">
        <%= high_chart("#{category.id}-price",@chartkick_category_items_by_price[category.id]) %>
      </div>
    </div>
  <% end %>
  </div>
</div>