<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="ul-align-center">
        <ul class="tab-list list-unstyled">

          <li class="tab d-inline <%if @category == nil%>tab-active<%end%>">
            全アイテム
          </li>

          <li class="tab d-inline <%if @category == "1"%>tab-active<%end%>">
            インナー
          </li>

          <li class="tab d-inline <%if @category == "2"%>tab-active<%end%>">
            アウター
          </li>

          <li class="tab d-inline <%if @category == "3"%>tab-active<%end%>">
            ボトムス
          </li>

        </ul>
      </div>
    </div>
  </div>

  <div class="chart_btn_box text-center pt-2 color-green">
    <%= render 'chart_btn', genre: @genre %>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-8 p-0">
      <div class="tabbox-contents">
        <div class="tabbox <%if @category == nil%>box-show<%end%>">
          <div id="high_chart">
      		  <%= render 'disposal_graph', target: @genre , high_chart: @high_chart, genres: @genres, target_id: 0 %>
          </div>
        </div>
        <% @categories.each do |category| %>
          <div class="tabbox <%if @category == category.id.to_s%>box-show<%end%>" id="category_<%=category.id%>" >
            <div id="high_chart<%= category.id %>">
               <%= render 'disposal_graph' ,genres: @genres, target: @genre, high_chart: get_category_data(category.id, params[:genre] ? params[:genre] : "color"), target_id: category.id %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

