<div class="container-fluid">
  <div class="row mt-5 justify-content-center">
    <div class="col-10">
      <h2>カラー追加</h2>
      <%= render "color_form", color: @color %>
      <h2>カラー一覧</h2>
      <table class="table table-hover table-inverse">
        <thread>
          <tr>
            <th>カラー名</th>
            <th>カラーサンプル</th>
            <th></th>
            <th></th>
          </tr>
          <tbody>
            <% @colors.each do |color| %>
            <tr>
              <td>
                <%= color.name %>
              </td>
              <td>
                <div class = "balloon1" style="background-color:<%= color.color_code %>">　</div>
              </td>
              <td>
                <%= link_to '編集', edit_admin_color_path(color.id), class: "btn btn-success" %>
              </td>
              <td>
                <%= link_to '削除', admin_color_path(color.id), method: :delete, class: "btn btn-danger" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </thread>
      </table>
    </div>
  </div>
</div>
