<div class="notification-view">
  <% case notification.action %>
  <% when 'buy' %>
    <% unless notification.sell_item == nil %>
    <span class="moderate-font">
      <%= notification.visitor.nickname %>さんがあなたの商品（<%= link_to notification.sell_item.name, sell_item_path(notification.sell_item) %>）を購入しました
      <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
    </span>
    <% end %>
  <% when 'like' %>
    <span class="moderate-font">
      <%= notification.visitor.nickname %>さんがあなたの商品（<%= link_to notification.sell_item.name, sell_item_path(notification.sell_item_id) %>）にいいねしました
      <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
    </span>
  <% when 'comment' then %>
    <% if notification.comment %>
      <% if notification.sell_item.seller == current_user %>
        <span class="moderate-font">
          <%= notification.visitor.nickname %>さんがあなたの商品（<%= link_to notification.sell_item.name, sell_item_path(notification.sell_item_id) %>）にコメントしました
          <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
          <br><%= notification.comment.text %>
        </span>
      <% else %>
        <span class="moderate-font">
          <%= notification.visitor.nickname %>さんが、<%= notification.visited.nickname %>さんの商品（<%= link_to notification.sell_item.name, sell_item_path(notification.sell_item_id) %>）にコメントしました
          <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
          <br><%= notification.comment.text %>
        </span>
      <% end %>
    <% else %>
    <p>コメントが削除されました。</p>
    <% end %>
  <% end %>
</div>