<div class="container">
<h2>いいねした商品</h2>
  <div class="row">
    <div class="col">
      <table class ="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>アイテム名</th>
            <th>ブランド名</th>
            <th>価格</th>
          </tr>
        </thead>

        <% @likes.each do|like| %>
        <tbody>
          <tr>

           <td>
             <%=link_to sell_item_path(like.sell_item) do %>
             <%= attachment_image_tag like.sell_item.item, :item_image, format: 'jpeg', fallback: "no_image.jpg" ,size: "40x40"%>
             <% end %>
           </td>

           <td>
             <%=link_to sell_item_path(like.sell_item) do %>
             <%= like.sell_item.name %>
             <% end %>
           </td>

           <td>
             <%= like.sell_item.item.brand.name %>
           </td>

           <td>
             <%= like.sell_item.order_price %>円
           </td>

           </tr>
        </tbody>
        <% end %>
      </table>
    </div>

  </div>
</div>