<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-12 border px-0">
      <div class="rate_header border-bottom">
        <div class="back-btn pt-2 pl-2">
          <%= link_to user_path(@user) do %>
            <div class="Arrow-Left p-1"></div>
          <% end %>
        </div>
        <p class="top-title text-center py-3">評価一覧</p>
        <p class="text-center text-secondary"><%= @user.nickname %>さん<p>
        <div class="star rate-username-rate-avg d-flex justify-content-center align-items-center">
          <%= render 'public/users/rate_avg', {user_rate_avg: @user_rate_avg} %>
          <p class="m-0">（評価平均：<%= @user_rate_avg %>）</p>
        </div>
      </div>
      <!--評価コメント-->
      <div id="chats">
        <%= render partial: 'public/users/rate_comments', collection: @sell_items, as: :sell_item %>
      </div>
    </div>
  </div>
</div>