<% if user_signed_in? && current_user.id.to_s == params[:id] %>
<!--ログインユーザーの詳細画面-->
<div class="user-image-box row align-items-center justify-content-center">
  <div class="user-detail-icon_image">
    <!--アイコン画像-->
    <div class="icon_image text-center">
      <%= attachment_image_tag @user, :icon_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", class:"rounded-circle" %>
    </div>

    <!--名前-->
    <p class="user-detail-nickname text-center">
      <%= @user.nickname %>さん
    </p>

    <!--評価-->
    <div class="row justify-content-center star">
      <%= render 'public/users/rate_avg', {user_rate_avg: @user_rate_avg} %>
      <%= link_to rate_user_path(@user) do %>
        <% if @user_rate_avg.nan? %>
          <p>（評価はまだされていません）</p>
        <% else %>
          <p>（評価：<%= @user_rate_avg %>）</p>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<div class="container-fulid">
  <div class="row  justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-12 user-show-btn-box">

      <div class="user-item-management">
        <p class="text-center my-3">マネジメント</p>
        <div class="user-item-button01">
          <%= link_to "ユーザー詳細", detail_user_path(@user) %>
        </div>
        <div class="user-item-button01">
          <%= link_to "アイテム", items_path %>
        </div>
        <div class="user-item-button01">
          <%= link_to "アイテム廃棄傾向", charts_disposal_path %>
        </div>
        <div class="user-item-button01">
          <%= link_to "アイテム購入履歴", charts_purchase_path %>
        </div>
        <div class="user-item-button01">
          <%= link_to "アイテム制限", new_category_management_path %>
        </div>

      </div>

      <div class="user-sell">
        <p class="text-center my-3">フリマ</p>
        <div class="user-item-button01">
          <%= link_to "出品した商品", myitems_by_sell_path %>
        </div>
        <div class="user-item-button01">
          <%= link_to "購入した商品", myitems_by_order_path %>
        </div>
        <div class="user-item-button01">
          <%= link_to "いいねしたアイテム", likes_user_path(@user) %>
        </div>
      </div>

    </div>
  </div>
</div>

<% else %>
<!--他のユーザーへの表示-->
  <div class="user-image-box row align-items-center justify-content-center">
    <div class="user-detail-icon_image">
      <!--アイコン画像-->
      <div class="icon_image text-center">
        <%= attachment_image_tag @user, :icon_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", class:"rounded-circle" %>
      </div>

      <!--名前-->
      <p class="user-detail-nickname text-center">
        <%= @user.nickname %>さん
      </p>

      <!--評価-->
      <div class="row justify-content-center">
         <%= render 'public/users/rate_avg', {user: @user, user_rate_avg: @user_rate_avg} %>
         <%= link_to rate_user_path(@user) do %>
           <% if @user_rate_avg.nan? %>
             <p>（評価はまだされていません）</p>
           <% else %>
             <p>（評価：<%= @user_rate_avg %>）</p>
           <% end %>
         <% end %>
      </div>

      <!--チャットボタン-->
      <div class="btn-box mt-3 text-center">
        <%= render 'public/rooms/chat_btn', {current_sell_now: @current_sell_now, user_sell_now: @user_sell_now, is_room: @is_room, room_id: @room_id, room: @room, user: @user, entry: @entry} %>
      </div>

    </div>
  </div>

  <h4 class="text-center h-4 py-5">Items</h4>
  <!--アイテム一覧-->
  <div class="gap-card row justify-content-center">
    <%= render partial: 'public/sell_items/sell_item_card', collection: @sell_items, as: :sell_item %>
  </div>

<% end %>