<div class="container-fluid items">

  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12 p-0">
      <div class="top-box">
        <div class="top-text text-center text-center">
          <p class="m-0">My Items</p>
          <p class="m-0">マイアイテム</p>
        </div>
        <div class="top-image"></div>
      </div>
    </div>
  </div>

  <div class="sub-title text-center my-5">
    <div class="text-center">
      <%= link_to "全アイテム",items_path %>
      <%= link_to "所持アイテム", item_status_change_path(item_status: "on_keep") %>
      <%= link_to "廃棄アイテム", item_status_change_path(item_status: "discarded") %>
      <%= link_to "出品中", item_status_change_path(item_status: "on_sell") %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12 p-0">
      <%= render 'public/items/item_table', items: @items %>
    </div>
  </div>
</div>
