<div class="container">
  <div class="row">
    <div class="col">
      <div class="ul-align-center">
        <ul class="tab-list list-unstyled">
          <li class="tab tab-active d-inline">
            全アイテム
          </li>
          <% @categories.each do |category| %>
            <li class="tab d-inline">
              <%= category.name %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="plus-btn text-right">
        <%= link_to new_item_path do %>
          <i class="far fa-plus-square  fa-3x pb-2"></i>
        <% end %>
      </div>
      <div class="tabbox-contents">
        <div class="tabbox box-show p-0">
          <% @categories.each do |category| %>
            <% if @items.where(category_id: category.id).present? %>
              <div class="p-3 bg-secondary text-white">
                <%= category.name %>
              </div>
            <% end %>
            <div class="row m-1 row-gap">
              <%= render partial: 'index', collection: @items.where(category_id: category.id), as: :item %>
            </div>
          <% end %>
        </div>
        <% @categories.each do |category| %>
          <div class="tabbox p-0">
            <div class="p-3 bg-secondary text-white">
              <%= category.name %>
            </div>
            <div class="row m-1 row-gap">
              <%= render partial: 'index', collection: @items.where(category_id: category.id), as: :item %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  // turbolinksの無効化
$(document).on('turbolinks:load', function() {
  $(function() {
    // .tabがクリックされたときを指定
    $('.tab').click(function(){
      // 今ある.tab-activeを削除
      $('.tab-active').removeClass('tab-active');
      // クリックされた.tabに.tab-activeを追加
      $(this).addClass('tab-active');
      // 今ある.box-showを削除
      $('.box-show').removeClass('box-show');
      // indexに.tabのindex番号を代入
      const index = $(this).index();
      // .tabboxとindexの番号が同じ要素に.box-showを追加
      $('.tabbox').eq(index).addClass('box-show');
    });
  });
});

</script>