<div class="container box">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-12 col-sm-12">
      <div class="sell_items_title py-3">
        <h4 class="text-center">
          <span class ="user-thin">
            My Items
          </span>
        </h4>
        <div class="text-center">
          <%= link_to "全アイテム",items_path %>
          <%= link_to "所持アイテム", item_status_change_path(item_status: "on_keep") %>
          <%= link_to "廃棄アイテム", item_status_change_path(item_status: "discarded") %>
          <%= link_to "出品中", item_status_change_path(item_status: "on_sell") %>
        </div>
      </div>
      <div class="row justify-content-center">
         <% @items.each do |item| %>
          <div class="col px-1 flex-grow-0">
            <div class="card mx-1 my-1 border-0", style="width: 15rem">
              <%= link_to item_path(item) do %>
                <%= attachment_image_tag item, :item_image, :fill, 400, 400, format: 'jpeg', style: "width: 15rem;" %>
                <div class="card-body p-1">

                  <p class="card-text m-0 no-wrap">
                    <%= item.name %> : <%= item.brand.name %>
                  </p>

                  <p class ="card-text m-0">
                    <%= item.price %> yen
                  </p>
               </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>