<div class="container">
  <div class="row">
    <div class="col">
      <div class="ul-align-center">
        <ul class="tab-list list-unstyled">
          <li class="tab tab-active d-inline">
            全アイテム
          </li>
          <li class="tab d-inline">
            インナー
          </li>
          <li class="tab d-inline">
            アウター
          </li>
          <li class="tab d-inline">
            ボトムス
          </li>
        </ul>
      </div>
      <div class="plus-btn text-right">
        <%= link_to new_item_path do %>
          <i class="far fa-plus-square  fa-3x pb-2"></i>
        <% end %>
      </div>
      <div class="tabbox-contents">
        <div class="tabbox box-show p-0">
          <% @categories.each do |category| %>
            <div class="p-3 bg-secondary text-white">
              <%= category.name %>
            </div>
            <div class="row m-1 row-gap">
              <%= render partial: 'index', collection: @items.where(category_id: category.id), as: :item %>
            </div>
          <% end %>
        </div>
        <div class="tabbox p-0">
          <div class="p-3 bg-secondary text-white">インナー</div>
          <div class="row m-1 row-gap">
            <%= render partial: 'index', collection: @items.where(category_id: 1), as: :item %>
          </div>
        </div>
        <div class="tabbox p-0">
          <div class="p-3 bg-secondary text-white">アウター</div>
          <div class="row m-1 row-gap">
            <%= render partial: 'index', collection: @items.where(category_id: 2), as: :item %>
          </div>
        </div>
        <div class="tabbox p-0">
          <div class="p-3 bg-secondary text-white">ボトムス</div>
          <div class="row m-1 row-gap">
            <%= render partial: 'index', collection: @items.where(category_id: 3), as: :item %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>