<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12 p-0">

      <div class="new-item-box">
        <div class="new-item-text text-center p-2 text-center">
          <p class="h3 m-0">New Item！</p>
          <p class="m-0">アイテムを登録しましょう！</p>
        </div>
        <div class="clothes-img">
          <div class="new-item-top"></div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'error', item: @item %>

  <div class ="row justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-10 item-new-fields">
      <%= form_with model: @item, local:true do |f| %>

        <div class="field py-3">
          <%= f.label :アイテム画像 %><br />
          <%= f.attachment_field :item_image, class:"form-control-file text-center justify-content-center" %>
        </div>

        <div class="field py-3">
          <%= f.label :アイテム名 %><br />
          <%= f.text_field :name, placeholder: "アイテム名", class:"form-control" %>
        </div>

        <div class="field py-3">
          <%= f.label :カテゴリー %><br />
          <%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: '選択してください'}, { class: 'form-control' , required: true }  %>
        </div>

        <div class="field py-3">
          <%= f.label :ブランド %><br />
          <%= f.collection_select :brand_id, Brand.all, :id, :name, { include_blank: '選択してください'}, { class: 'form-control selectable' , required: true } %>
        </div>

        <div class="field py-3">
          <%= f.label :カラー %><br />
          <%= f.collection_select :color_id, Color.all, :id, :name, { include_blank: '選択してください'}, { class: 'form-control selectable' , required: true } %>
        </div>

        <div class="field py-3">
          <%= f.label :購入価格 %><br />
          <p class="text-nowrap"><%= f.text_field :price, placeholder: "1000", class:"form-control mr-1",style:"display: inline" %>円</p>
        </div>

        <div class="field py-3">
          <%= f.label :購入日 %><br />
          <%= f.date_field :purchase_date %>
        </div>

        <div class="field py-3">
          <%= f.label :サイズ %><br />
          <%= f.radio_button :size, :S %>
          <%= f.label :S, class: "job_type_label" %>
          <%= f.radio_button :size, :M %>
          <%= f.label :M, class: "job_type_label" %>
          <%= f.radio_button :size, :L %>
          <%= f.label :L, class: "job_type_label" %>
        </div>

        <div class="field">
          <%= f.hidden_field :item_status, :value => :on_keep %>
        </div>

        <div class="new-item-btn py-3">
          <%= f.submit 'Item Save!', class: "btn btn-green w-100 pt-2" %>
        </div>

      <% end %>
    </div>
  </div>
</div>

