<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-1">
      <h2>アイテム新規登録</h2>
      <%= form_with model: @item, local:true do |f| %>

        <table  class="table table-borderless">
          <tbody>
            <tr>
              <td>アイテム画像</td>
              <td><%= f.attachment_field :item_image, class:"form-control-file" %></td>
            </tr>
            <tr>
              <td>アイテム名</td>
              <td><%= f.text_field :name, placeholder: "アイテム名", class:"form-control" %></td>
            </tr>
            <tr>
              <td>カテゴリー</td>
              <td><%= f.collection_select :category_id, Category.all, :id, :name,{:prompt => true}, {:class => "form-control"} %></td>

            　<!--多階層カテゴリー-->
              <!--<td>-->
                <%#= f.collection_select :category_id, Category.all, :id, :name,{prompt: "---"}, class: "select-default", id: "parent-form"%>
              <!--  <div class="listing-form-box">-->
              <!--    <div class="listing-product-detail__category">-->
              <!--      <%#= f.label 'カテゴリー', class: 'listing-default__label'%>-->
              <!--      <span class="listing-default--require">必須</span>-->
              <!--      <div class="listing-select-wrapper">-->
              <!--        <div class="listing-select-wrapper__box">-->
              <!--          <%#= f.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'} %>-->
              <!--          <i class ="fas.fa-chevron-down listing-select-wrapper__box--arrow-down"></i>-->
              <!--        </div>-->
              <!--      </div>-->
              <!--    </div>-->
              <!--  </div>-->
              <!--</td>-->
            </tr>
            <tr>
              <td>カラー</td>
              <td><%= f.collection_select :color_id, Color.all, :id, :name,{:prompt => true}, {:class => "form-control"} %></td>
            </tr>
            <tr>
              <td>ブランド</td>
              <td><%= f.collection_select :brand_id, Brand.all, :id, :name,{:prompt => true}, {:class => "form-control"} %></td>
            </tr>
            <tr>
              <td>購入価格</td>
              <td class ="text-nowrap"><%= f.text_field :price, placeholder: "1000", class:"form-control mr-1",style:"display: inline" %>円</td>
            </tr>
            <tr>
              <td>購入日</td>
              <td><%= f.date_field :purchase_date %></td>
            </tr>
            <tr>
              <td>サイズ</td>
              <td>
                <%= f.radio_button :size, :S %>
                <%= f.label :S, class: "job_type_label" %>
                <%= f.radio_button :size, :M %>
                <%= f.label :M, class: "job_type_label" %>
                <%= f.radio_button :size, :L %>
                <%= f.label :L, class: "job_type_label" %>
              </td>
            </tr>
            <tr>
              <td><%= f.hidden_field :item_status, :value => :on_keep %></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>
                <%= f.submit '新規登録', class: "btn btn-success" %>
              </td>
            </tr>
          </tbody>
        </table>

      <% end %>
    </div>
  </div>
</div>
