<div class="product-title">
  <h2 class ="mb-5">商品詳細</h2>
</div>
<div class="container pb-5">
  <div class="row mt-5">
    <div class="col-lg-6 col-md-10 col-sm-10 zoomInText">
      <%= attachment_image_tag @item, :item_image, :fill, 550, 400, format: 'jpeg' %>
    </div>

    <div class="col-lg-6 col-md-10 col-sm-10 pr-4 pl-4">
      <table class="table table-hover table-inverse">
        <tbody>
          <tr><td>アイテム名</td><td><%= @item.name%></td></tr>
          <tr><td>カテゴリー</td><td><%= @item.category.name%></td></tr>
          <tr><td>カラー</td><td><%= @item.color.name%></td></tr>
          <tr><td>ブランド</td><td><%= @item.brand.name %></td></tr>
          <tr><td>購入価格</td><td><%= @item.price %>円</td></tr>
          <tr><td>購入日</td><td><%= @item.purchase_date.strftime("%Y年 %m月 %d日") %></td></tr>
          <tr><td>廃棄日</td><td><%= @item.discard_date.strftime("%Y年 %m月 %d日") unless @item.discard_date.blank? %></td></tr>
          <tr><td>サイズ</td><td><%= @item.size %></td></tr>
          <tr><td>アイテムステータス</td><td><%= @item.item_status_i18n %></td></tr>
          <tr>
            <td><%= link_to '編集', edit_item_path(@item.id), class: "btn btn-success" %></td>
            <td><%= link_to '削除', item_path(@item.id), method: :delete, class: "btn btn-danger" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
