<div class="container-fluid wear_today">
  <div class="row justify-content-center">
    <div class="col px-0">
      <div class="top-box">
        <div class="top-text text-center text-center">
          <p class="h3 m-0">Today's Coordination！</p>
          <p class="m-0">今日のコーディネートを記録しましょう</p>
        </div>
        <div class ="black-opacity-img">
          <div class="top-image"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col top-item-box">
      <p class="text-center p-3 m-0">TOP3</p>
      <div class="row justify-content-center">
        <% @top_items.each do |top_item| %>
          <div class="col px-1 flex-grow-0">
            <div class="card mx-1 my-1 border-0", style="width: 8rem">
              <%= link_to item_path(top_item) do %>
                <%= attachment_image_tag top_item, :item_image, :fill, 400, 400, format: 'jpeg', style: "width: 8rem;" %>
                <div class="card-body p-1">

                  <p class="card-text m-0">
                    <%= top_item.name %>
                  </p>

                  <p>
                    着用回数:<%= top_item.wear_count %>
                  </p>

                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col top-item-box">
      <p class ="text-center p-3 m-0">WORST3</p>
      <div class="row justify-content-center">
        <% @worst_items.each do |worst_item| %>
          <div class="col px-1 flex-grow-0">
            <div class="card mx-1 my-1 border-0", style="width: 8rem">
              <%= link_to item_path(worst_item) do %>
                <%= attachment_image_tag worst_item, :item_image, :fill, 400, 400, format: 'jpeg', style: "width: 8rem;" %>
                <div class="card-body p-1">

                  <p class="card-text m-0">
                    <%= worst_item.name %>
                  </p>

                  <p>
                    着用回数:<%= worst_item.wear_count %>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-12 col-sm-12">
      <% @categories.each do |category| %>
        <div class="text-center">
          <h5 class="mt-3 mb-5 pb-1 pt-5 category-name text-center"><%= category.name %></h5>
        </div>
        <div class="d-flex justify-content-center flex-wrap">
          <% category.items.where(user_id: current_user.id, item_status: "on_keep" ).each do |item| %>
            <%= form_with model: item, url: wear_today_update_item_path(item), method: :patch, local:true do |f| %>
              <div class="card mx-1 my-1", style="width: 12rem">
                <div class="card-img">
                  <%= attachment_image_tag item, :item_image, :fill, 200, 200, format: 'jpeg', style: "width: 12rem;" %>
                  <span class="input-group-btn">
                    <%= button_tag type: 'submit', class: 'btn btn-default m-0' do %>
                      <div class="text-center t-shats-icon">
                        <i class="fas fa-tshirt fa-3s t-shats-icon"></i>
                        <p class="p-0 m-0">wear!</p>
                      </div>
                    <% end %>
                  </span>
                </div>
                <div class="card-body p-1">

                  <p class="card-text m-0">
                    <%= item.name %>
                  </p>
                  <div class="div">

                    <p class ="card-text m-0">
                      着用回数：<%= item.wear_count %>回
                    </p>

                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
