<!DOCTYPE html>
<html>
  <head>
    <title>Minimum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <%= link_to image_tag("minimum.png", width: 100), root_path, class:"navbar-brand" %>
        <div class="container justify-content-end">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <% if user_signed_in? %>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <div class="social">
                    <%= link_to 'Mypage', user_path(current_user), class: 'nav-link' %>
                  </div>
                </li>
                <li class="nav-item active">
                  <div class="social">
                    <%= link_to 'Shop', shop_top_sell_items_path, class: 'nav-link' %>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="social">
                    <%= link_to 'Item', items_path, class: 'nav-link' %>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="social">
                    <%= link_to 'New Item', new_item_path, class: 'nav-link' %>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="social">
                    <%= link_to 'Coordination', wear_today_new_items_path, class: 'nav-link' %>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="social">
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="social">
                    <%= link_to notifications_path, class: "nav-link" do %>
                      <% if current_user.passive_notifications.where(checked: false).any? %>
                        <span class = "fa-stack">
                          <i class = "far fa-bell fa-lg fa-stack-2x", style="font-size: 1.5em;" ></i>
                          <i class = "fas fa-circle n-circle fa-stack-1x" ></i>
                        </span>
                      <% else %>
                        <i class = "far fa-bell fa-lg", style="font-size: 1.5em;" ></i>
                      <% end %>
                    <% end %>
                  </div>
                </li>

              </ul>
            <% elsif admin_signed_in? %>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <div class="social">
                    <%= link_to 'アイテム一覧', admin_items_path, class: 'nav-link' %>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="social">
                    <%= link_to 'ユーザー一覧', admin_users_path, class: 'nav-link' %>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="social">
                    <%= link_to '注文履歴一覧', admin_sell_items_path, class: 'nav-link' %>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="social">
                    <%= link_to 'カラー', admin_colors_path, class: 'nav-link' %>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="social">
                    <%= link_to 'カテゴリー', admin_categories_path, class: 'nav-link' %>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="social">
                    <%= link_to 'ブランド', admin_brands_path, class: 'nav-link' %>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="social">
                    <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link' %>
                  </div>
                </li>
              </ul>
            </div>
           <% else %>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <div class="social">
                      <%= link_to 'About', homes_about_path, class: 'nav-link text-dark' %>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="social">
                      <%= link_to '新規登録', new_user_registration_path, class: 'nav-link text-dark' %>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="social">
                      <%= link_to 'ログイン', user_session_path, class: 'nav-link text-dark' %>
                    </div>
                  </li>
                </ul>
              </div>

          <% end %>
        </div>
      </nav>
    </header>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
